<div class="container container-links">
    <ul class="link-list">
        <li class="link-item">
            <div class="card">
                <div class="tile">
                    <div class="tile-avatar">
                        <img src="https://i1.wp.com/bbs-static.nfz.yecdn.com/links/viosey.com.png" height="72px">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title mb-1 text-center h5">The Avengers</p>
                        <p class="tile-subtitle mb-0 text-gray text-center"><small>热爱科技 热爱生活 分享思维 吐槽不平</small></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="link-item">
            <div class="card">
                <div class="tile">
                    <div class="tile-avatar">
                        <img src="https://i1.wp.com/bbs-static.nfz.yecdn.com/links/viosey.com.png" height="72px">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title mb-2 text-center h5">The Avengers</p>
                        <p class="tile-subtitle mb-0 text-gray text-center"><small>热爱科技 热爱生活 分享思维 吐槽不平</small></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
