<div class="container container-header">
</div>
<div class="container container-post-list">
    <!-- Post List -->
    <% page.posts.each(function(post) { %>
        <% if(!((typeof hasposttop === 'function') && post.top)) { %>
            <%- partial('_partial/post-entry', { post: post, index: true, pin: false }) %>
        <% } %>
    <% }); %>
</div>
<div class="container container-index-nav">
    <%- partial('_partial/index-nav') %>
</div>