<div class="dropdown dropdown-right float-right">
<a class="btn btn-link btn-gray dropdown-toggle" tabindex="0"><i class="icon material-icons casino-icons">rss_feed</i></a>
<ul class="menu">
    <!-- Share Weibo -->
    <li class="menu-item">
        <a href="<%= theme.url.rss %>" target="_blank">RSS 订阅</a>
    </li>
    <li class="menu-item">
        <a href="<%= theme.url.sitemap %>" target="_blank">站点地图</a>
    </li>
</ul>
</div>