<footer>
    <div class="mdui-container-fluid">
        <div class="mdui-row-md-3 footer-content">
            <div class="mdui-col footer-sns-list">
                <%- partial('_partial/footer/left-sns-list') %>
            </div>
            <div class="mdui-col footer-copyright">Copyright © 2016 - 2017
                <a href="./">neoFelhz's Blog</a>
            </div>
            <div class="mdui-col mdui-text-center">
                <div class="footer-develop">Powered by
                    <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a>
                </div>
                <div class="footer-develop">Theme -
                    <a href="https://github.com/neoFelhz/hexo-theme-spectre" target="_blank" class="footer-develop-a">Spectre</a>
                </div>
            </div>
        </div>
    </div>
</footer>