<footer class="centered">
    <div class="footer-content">
        <div class="footer-sns-list">
            <%- partial('_partial/footer/left-sns-list') %>
        </div>
        <div class="footer-copyright">Copyright&nbsp;©&nbsp;<span year></span>
            <a href="<%= config.url %>"><%= config.title %></a>
        </div>
        <div class="footer-develop">
            <div>Powered by
                <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a>
            </div>
            <div>Theme -
                <a href="https://github.com/neoFelhz/hexo-theme-spectre" target="_blank" class="footer-develop-a">Spectre</a>
            </div>
        </div>
    </div>
</footer>