<% if (page.total > 1) { %>
    <!-- Index nav -->
    <ul class="pagination">
        <%- paginator({
            prev_text: __('<li class="page-item page-prev"><div class="page-item-title h5"><i class="icon material-icons casino-icons">arrow_back</i></div><div class="page-item-subtitle">上一页</div></a></li>'),
            next_text: __('<li class="page-item page-next"><div class="page-item-title h5"><i class="icon material-icons casino-icons">arrow_forward</i></div><div class="page-item-subtitle">下一页</div></a></li>'),
            space: ''
        }) %>
    </ul>
<% } %>
