<a class="off-canvas-toggle btn btn-link btn-action" href="#close">
    <i class="icon material-icons casino-icons">arrow_back</i>
</a>
<div class="sidebar-top"></div>
<span class="h4 text-center"><%= config.title %></span>
<div class="divider"></div>