<div class="column col-xs-12 col-8 daily_pic">
    <div class="card">
        <div class="card-image" style="background-image:url(<%= theme.img.daily_pic %>)">
            <p><%= theme.slogan %></p>
        </div>
        <div class="card-footer bg-gray hide-xs">
            <figure class="avatar">
                <img src="<%= theme.img.avatar %>">
            </figure>
            <div class="card-title"><%= config.author %></div>
        </div>
    </div>
</div>